nav 
	display: flex
	justify-content: center
	align-items: center
	height: 60px
	background-color: #000
	color: #fff
	font-size: 40px
	text-decoration: none
	
.pages
	margin-top: 30px
	&_item
		width: 500px
		&:hover
			width: 510px
			height: 393px
			transition: 0.2s all
		img
			width: 100%
			padding: 20px
			// border: solid black 1px
			box-shadow: 0 1rem 3rem rgba(black, .175)

footer
	position: fixed
	bottom: 0
	background-color: #000
	color: #fff
	width: 100%
	height: 70px
	display: flex
	justify-content: center
	align-items: center
	.prefs
		display: block
		margin-left: 10px
		a
			color: white
			&:hover
				text-decoration: none
				color: #77E5FF