@media (max-width: 1200px)
    .pages
        .scale
            &:hover
                transform: none
    footer
        position: absolute
        bottom: 0
        
@media (max-width: 991px)
    footer
        position: absolute
        bottom: 0

@media (max-width: 767px)
    .pages
        &_item
            margin-top: 30px
        .no-margin-top
            margin-top: 0
        .scale
        &:hover
            transform: none
    footer
        position: relative
        bottom: 0   

@media (max-width: 575px)
    .pages
        &_item
            margin-top: 30px
        .no-margin
            margin: 0
        .scale
            &:hover
                transform: none
    nav
        width: 100%
        .name
            font-size: 20px
    footer
        margin-top: 30px
        font-size: 12px
